
body {
   background-color: mistyrose; 
}


button {
    margin: 0 auto;
    border: 5px solid black;
    background-color: white;
    padding: 10px 400px 10px 400px;
    font-size: 40px;
    display: flex;
    justify-content: center;
   
}

#container, h1 {
    display: flex;
    justify-content: center;
    
}


div {
    width: 200px;
    height: 200px;
    border: 1px solid black;
} 

div img {
    width: 100%;
}