
body {
margin-top: 5%;

}

table {
    margin: auto;
    padding: 10px;
    background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
  
}


td {
    border-radius: 50%;
    padding: 2px;
    background: linear-gradient(to bottom, #f6f289 0%, #ffd382 100%); 
    width: 100px;
    height: 100px;
}

